@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.navbar {
    background-color: hsl(36, 100%, 93%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 5px;
}

.game-logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    color: hsl(0, 59%, 41%);
    text-shadow: 2px 2px hsl(0, 0%, 30%);
}

.scores {
    align-self: flex-end;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    font-weight: bold;
    color: hsl(0, 59%, 21%);
    margin: 10px;
}

/* card style */

.grid-cards {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card {
    background-color: hsl(46, 100%, 94%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.07s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.card-img {
    height: 210px;
    width: 170px;
    object-fit: contain;
    margin: 5px;
    border-bottom: 1px solid gray;
}

.card-body {
    font-weight: bold;
    color: hsl(0, 0%, 10%);
    margin-bottom: 5px;
}

/* Responsive cards */

@media (max-width: 750px) {
    .grid-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-img {
        height: 200px;
        width: 155px;
    }
}
@media (max-width: 550px) {
    .grid-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-img {
        height: 165px;
        width: 130px;
    }
}
